body h1, h2, h3, h4 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
header {
    padding: 20px 0;
}

header .row, 
footer .row {
    display: flex;
    align-items: center;
}
header nav {
    display: flex;
    justify-content: flex-end;
}

header p {
    padding: 0 20px;
    margin: 0;
    font-size: 2rem;
}
header h1 {
    font-weight: bold;
    margin: 0;
}

.jumbotron {
    display: flex;
    align-items: center;
    background-image: url('./images/pea_flower.png');
    background-size: cover;
    height: 400px;
}

.jumbotron h2 {
    font-size: 6rem;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0.5rem 0.5rem #011111;
}

.jumbotron h3 {
    font-size: 4rem;
    color: #fff;
    text-shadow: 0.25rem 0.25rem #011111;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.row .col-sm-12 a {
    margin-left: 10%;
    font-size: 2rem;
    font-weight: 600;
    color: #4c4c4c;
}
.row .col-sm-12 a:hover {
    color: #a5a5a5;
    text-decoration: none;
}

#ph-desc-title {
    margin-left: 10%;
    font-size: 2rem;
    font-weight: 600;
    color: #4c4c4c;    
}
.row .col-sm-12 p {
    margin: 2%;
    margin-left: 10%;
    font-size: 1.5rem;
    color: #7c7c7c;
}