body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
header {
    padding: 20px 0;
}

header .row, 
footer .row {
    display: flex;
    align-items: center;
}
header nav {
    display: flex;
    justify-content: flex-end;
}

header p {
    padding: 0 20px;
    margin: 0;
}
header h1 {
    font-weight: bold;
    margin: 0;
}

.jumbotron {
    display: flex;
    align-items: center;
    background-image: url('./images/pea_flower.png');
    background-size: cover;
    height: 400px;
}

.jumbotron h2 {
    font-size: 6rem;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0.5rem 0.5rem #011111;
}

.jumbotron h3 {
    font-size: 4rem;
    color: #fff;
    text-shadow: 0.25rem 0.25rem #011111;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.btn.btn-primary{
    border-radius: 2px;
    border: 0px;
    color: #f0ffe5;
    background-color: #538715;
}
.btn.btn-primary:hover{
    background-color: #6cad1d;
    color: #ffffff;
}
.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}